!!!
%html
  %head
    %title Stream of Consciousness Writing
    %script(type='text/javascript' src='//code.jquery.com/jquery-1.11.2.min.js')
    :css
      body {
        margin: 0;
        text-align: center;
      }

  %body
    %h1 Stream of Consciousness Writing
    %p= @stream.body
